.kaufman__triangle {
  background: url(../../../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -200px;
  width: 877px;
  height: 877px;
  background-size: cover;
  z-index: 1;
}
